/* <style type="text/css" data-base="CSS-startPage"> */
.technicalTask,
.projectDescription {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: 'Times New Roman';
   font-size: 1em;
}
ul.outer {
   /* list-style-type: square; */
   /* list-style-type: disc; */
   /* list-style-type: "\1F44D"; */
   list-style-type: space-counter;
   margin-left: 1.5em;
}
ul.inner {
   list-style-type: circle;
   margin-left: 2.0em;
}
.outer li {
   font-size: 1.25em;
   line-height: 1.5;
}
.inner li {
   line-height: 1.25;
}
.img-laravel_book {
   border: 1px solid burlywood;
}
.description-head,
.technical-head {
   display: flex;
   flex-direction: column;
   flex-basis: 100%;
}
.description {
   position: relative;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-size: 1.25em;
   line-height: 1.5;
}
.flex {
   display: flex;
   flex-direction: row;
}
.description_link{
   display: flex;
    flex-direction: row;
    align-items: center;
    /* font-size: 14px; */
    /* line-height: 16px; */
    color: #3e77aa;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.first-word {
   padding-left: 2em;
   margin-right: 0.5em;
}
.butt-example {
   position: relative;
   top: 3px;
   width: 36px;
   height: 36px;
   padding: 0;
   border: 2px solid black;
   border-radius: 8px;
}
.butt-example:hover {
   background: red;
   color: #ffe;
   }
